/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
 @import url('https://fonts.googleapis.com/css?family=Lato');

body,
html {
    width: 100%;
    height: 100%;  
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.intro-message {
    position: relative; 
    height: 600px;
    background: #000;
}
/*
.intro-message .load-ring {
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  top: 10px; 
  right: 10px;
  border-radius: 60px;
  box-shadow: 0 2px 0 0 #ffffff;
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite; 
}*/

.main-background {
    background: #202020;
    color: #fff;
    padding-top: 10px;
}
.main-background-player{ 
  margin-right: -30px;
  margin-left: -30px;
}
.main-background-services{
  background: red;
}
.main-background-rev3 {
    background: #202020;
    color: #fff;
    padding-top: 10px; 
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding-bottom: 0px;
    background-color: #181818
}
.content-section-a h3{
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}


.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 20px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

/* additional */
.img-responsive{
    width: 100%;
    height: 100%;
}
.btn-download-viddy{
    background: #FFC200;
}
.btn-download-viddy:hover{
    background: #FFC200;
}
.main-desc{
    padding-bottom: 20px;
}
.mvic-info{ 
}
.mvici-left{
    float: left;
}
.mvici-right{
    float: left;
    padding-left: 40px;
}
.desc-viddy{
    color: #8c8c8c
}
.block-trailer{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px
}
h3.titleviddy {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
    margin-bottom: 10px;
    display: initial;
    margin-right: 10px;
}
.thumbnail {
    position:relative;
    overflow:hidden;
}
.box-thumb-images img{
  opacity: 0.8
}
.box-thumb-images h5{
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}
.caption {
    position:absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height:auto;  
    color:#fff !important;
    z-index:2;
    font-size: 17px;
}
.thumbnail .caption{
  padding: 4px;
}
.caption p{
    color: #eee
}
.label-viddy-orange {
    background: orange;
}
.label-viddy-black {
    background: black; 
}
.label-no-radius.label-viddy-black{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: none !important;
}
.thumbnail.no-border {
    display: block;
    padding: 0px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background:none;
    border: 0px solid #ddd;
    border-radius: 0;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.canvas-viddy-desc{
    padding-bottom: 20px;
}
.no-getter{
    margin-left: -30px;
    margin-right: -30px;
}
 

video {
  width: 100%    !important;
  height: auto   !important;
}



iframe{
    overflow:hidden;
}

.videobox .viddy-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    /*
    -webkit-box-shadow: -1px 5px 20px 0px rgba(140,132,140,1);
    -moz-box-shadow: -1px 5px 20px 0px rgba(140,132,140,1);
    box-shadow: -1px 5px 20px 0px rgba(140,132,140,1);
     -webkit-box-shadow: -1px 3px 20px 0px rgba(140,132,140,1);
    -moz-box-shadow: -1px 3px 20px 0px rgba(140,132,140,1);
    box-shadow: -1px 3px 20px 0px rgba(140,132,140,1);*/
}

.videobox .viddy-cover:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent; 
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.videobox .viddy-cover:hover::after {
    background: rgba(0,0,0,0.3);
}

.videobox a{
    cursor: pointer;
}

.thumb {
    background-position: 50% 25%;
    background-size: cover;
    display: inline-block;
}

.videobox .viddy-view-dummy {
    position: absolute; 
    color: #fff; 
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    z-index: 9;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    text-align: right; 
    bottom: 20px;
}
/*
.videobox .viddy-cover:before {
    content: "";
    width: 110px;
    height: 110px;
    background-image: url(http://123movies.to/assets/images/btn-overlay.png);
    background-position: 50% 25%;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -55px;
    margin-left: -55px;
    left: 50%;
    z-index: 2;
    border-radius: 55px;
    border: 6px solid rgba(255,255,255,1);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
 
. 
.mega-dropdown {
  position: static !important;
  /*width: 100%;*/
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 60%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu:after {
  content: "";
  border-bottom: 17px solid #ccc;
  border-right: 19px solid transparent;
  border-left: 19px solid transparent;
  position: absolute;
  top: -17px;
  left: 283px;
  z-index: 8;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal; 
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.wpviddy-ads1{
  text-align: center;
  margin: 0 auto;
}

.box-thumb-images{ 
  min-height: 320px;
  max-height: 340px;   
}
.box-thumb-images-tab{ 
  max-height: 340px;   
}

 

/*
  BOX SEARCH
*/
.box-search{ 
  padding: 10px
}
.box-search-input {
    display: inline-block;  
    height: 30px;
    padding: 0px 8px; 
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    width: 300px; 
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  padding: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
  padding: 5px;
}
:-moz-placeholder { /* Firefox 18- */
  padding: 5px;
}
 

.fb-comment{
    background: #555555;
    margin-top: 20px;
}

.box-button-optional{ 
  padding: 4px;
}


.dropdown-menu {
    background-color: #232323;
    margin: 0;
    padding: 0;
    top: 99%
}


      /*!
     * Yamm!3 - Yet another megamenu for Bootstrap 3
     * http://geedmo.github.com/yamm3
     * 
     * @geedmo - Licensed under the MIT license
     */
    .yamm .nav,
    .yamm .collapse,
    .yamm .dropup,
    .yamm .dropdown {
      position: static;
    }
    .yamm .container {
      position: relative;
    }
    .yamm .dropdown-menu {
      left: auto;
    }
    .yamm .yamm-content {
      padding: 20px 30px;
    }
    .yamm .dropdown.yamm-fw .dropdown-menu {
      /*left: 0;
      right: 0;*/
      border-radius: 0;
    }
    .nav.navbar-nav.yamm li a {
      color: #fff;
      text-transform: uppercase;
    }
    .nav.navbar-nav.yamm li a:hover {
      color: #fff601;
    }
    .yamm-content li a{
      font-size: 13px; 
      line-height: 32px;
      color: #fff; 
      text-transform: uppercase;
    }
    .yamm-fw.menu-genres a.dropdown-toggle{
      color: #ffffff;
      text-transform: uppercase;
    }
    .yamm-fw.menu-genres a.dropdown-toggle:hover{
       color: #fff601;
    }

     .yamm-fw.menu-genres.open a.dropdown-toggle{
       color: #fff;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #1B1C22;
}

     .yamm-content li a:hover{
      font-size: 13px; 
      line-height: 32px;
      color: #fff601;
      text-decoration: none;
    }

    
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        background-color: #232323;
    }
     
      /* Some basic style resets to make the page look slightly nicer */
        h1, h2 { 
            margin: 10px 0;
        }

        p, a { 
            font-size: 13px;
        }

        /* Gallery */
        [href="#next"] {
            float: right;
        }

        [href="#prev"] {
            float: left;
        }

        [href="#next"], [href="#prev"] {
            padding-top: 10px;
        }

        div.popup {
            overflow: hidden;
        }

/*
==============================================
=============================================
*/
.btn-successful:hover, .btn-successful:active, .btn-successful:focus {
    background: #70B63D;
    border-bottom: 3px solid #63A235;
}
.btn.search{
  background: #fff601;
  color: #000;
  border-radius:0;
  text-transform: uppercase;
  height: 30px;
}
.btn-successful {
    background: #79C143;
    border: none;
    border-bottom: 3px solid #73AD38;
    color: #fff !important;
}
.btn-block {
    
}

.mv-rating {
    text-align: left;
    font-size: 14px;
    position: relative;
    margin-top: 5px;
}
.mv-rating .btn {
    float: left;
    margin: 0 !important;
    margin-right: 10px !important;
    padding: 4px 10px !important;
    font-weight: bold;
    font-size: 24px;
    cursor: default;
}
.btn-danger {
    background: #DF091E;
    border: none;
    border-bottom: 3px solid #CC091C !important;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.mv-rating label {
    display: block;
    margin-bottom: -2px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 2px;
    padding-left: 2px;
}

.mvici-left a{
  color: #fff601;
  font-size: 12px;
}
.mvici-left a:hover{
  text-decoration: none;
}
.bg-top-head{ 
  padding-left:0px;
  padding-right:0px;
}
.logo{
  padding-right: 20px;
}

/*
OVERLAY
*/

.top-background .play-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; 
    z-index: 999999;
    text-align: center;
}

.ease {
    transition: all .2s ease-in-out;
}
.top-background .play-wrapper #play {
    font-size: 80px;
    color: rgba(0,0,0,.8);
    position: relative;
    margin-top: -40px; 
    top: 50%;
}
.videobox .viddy-cover:hover .play-wrapper #play{
    color: rgba(121,193,66,10); 
      transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}

/***************/

                            .top-background{
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: transparent;
                                z-index: 99; 
                                left: 0;
                                bottom: 0;
                            } 
                            .top-top.active{
                                position: absolute;
                                width: 100%;
                                height: 5%;
                                background: #000;
                                z-index: 999; 
                                left: 0;
                                top: 0;
                            } 
                            .top-botttom.active{
                                position: absolute;
                                width: 100%;
                                height: 14%;
                                background: #000;
                                z-index: 999; 
                                left: 0;
                                bottom: 0;
                            } 

                            #element:-webkit-full-screen .top-background{ 
                                width: 100%;
                                height: 100%;
                            }
                            #element:-moz-full-screen iframe{
                              visibility: visible;
                              width: 100%;
                              height: 100%;
                            } 
                            #element:-webkit-full-screen iframe{
                              visibility: visible;
                              width: 100%;
                              height: 100%;
                            } 
                            /*
                            #element:-moz-full-screen iframe{
                              visibility: hidden;
                              width: 100%;
                              height: 100%;
                            }*/
                            #element:-moz-full-screen .top-background{
                              visibility: visible;
                            }
                            #element:-webkit-full-screen { 
                              width: 100vw;
                              height: 100vh;
                            }
                            .element:-moz-full-screen { 
                              width: 100vw;
                              height: 100vh;
                            }

                            
                            .media-controls{
                               position: absolute;
                                width: 100%;
                                bottom: 0;
                                background: rgba(0,0,0,.8);
                                z-index: 99999; 
                                height: 35px;
                                z-index: 999;
                                left: 0;
                            }
                            #element:-webkit-full-screen .media-controls{
                               position: absolute;
                                width: 100%;
                                bottom: 0; 
                                background: rgba(0,0,0,.8);
                                z-index: 99999; 
                                height:38px;
                                z-index: 999;
                                left: 0;
                            }
                            .media-controls #leftControls {
                                float: left;
                            }
                            .media-controls #rightControls {
                                float: right;
                            }
                            .media-controls .btn {
                                outline: 0!important;
                                height: 36px;
                                font-size: 12px;
                                background: 0 0;
                                color: #eee;
                                float: left;
                                -webkit-border-radius: 0;
                                -moz-border-radius: 0;
                                border-radius: 0;
                                -webkit-background-clip: padding-box;
                                -moz-background-clip: padding;
                                background-clip: padding-box;
                            }
                            .media-controls #fullscreen_btn, .media-controls #rightControls {
                                float: right;
                            }
                            .media-controls #setting_btn.dropup .dropdown-menu {
                                border: 0;
                                border-radius: 0;
                                padding: 0;
                                background-color: rgba(0,0,0,.7);
                                color: #ccc;
                                font-size: smaller;
                            }
                            .media-controls .glyphicon-hd-video {
                                position: absolute;
                                right: 3px;
                                color: #79C142;
                            }
                            .media-controls #setting_btn.dropup .dropdown-menu li.active {
                                background-color: red;
                            }
                            .media-controls #setting_btn.dropup .dropdown-menu li {
                                padding: 5px 15px;
                            }
                            .media-controls #sliderContainer {
                                padding: 6px 14px 10px;
                                position: absolute;
                                margin-top: -117px!important;
                                display: none;
                                background: #000;
                                background: 0 0\9;
                                background: rgba(0,0,0,.6);
                                filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000, GradientType=1);
                                zoom: 1;
                            }
                            .media-controls #slider {
                                border-width: 1px;
                                border-style: solid;
                                border-color: #333 #333 #777;
                                width: 10px;
                                height: 100px;
                                -webkit-box-shadow: inset 0 1px 5px 0 rgba(0,0,0,.5);
                                -moz-box-shadow: inset 0 1px 5px 0 rgba(0,0,0,.5);
                                box-shadow: inset 0 1px 5px 0 rgba(0,0,0,.5);
                                -webkit-border-radius: 10px;
                                -moz-border-radius: 10px;
                                border-radius: 10px;
                                background-clip: padding-box;
                            }
                            .media-controls .ui-slider {
                                margin: 0!important;
                                float: left;
                            }
                            .ui-slider-vertical {
                                width: 12px;
                            }
                            .ui-slider {
                                position: relative;
                                height: 12px;
                                margin-bottom: 20px;
                                cursor: pointer;
                                background: #ebedef;
                                border-radius: 32px;
                                box-shadow: none;
                            }

                            .media-controls .btn:hover {
                                color: #79C142;
                                text-shadow: 0 0 3px #79C142;
                                -o-transition:.5s;
                                -ms-transition:.5s;
                                -moz-transition:.5s;
                                -webkit-transition:.5s;
                                /* ...and now for the proper property */
                                transition:.5s;
                            }

                            ::-webkit-media-controls {
                              display:none !important;
                            }
                            video::-webkit-media-controls {
                              display:none !important;
                            }
                            video::-webkit-media-controls-enclosure {
                              display:none !important;
                            }


.register-full-movie-lg{

}
.register-full-movie{
  border-radius: 0; 
}

/* offer */
.top-content {
    background-position: 50%;
}
.top-content p.top {
    margin-bottom: 150px;
    font-size: 20px;
    box-shadow: 0 3px 15px -5px #000;
    white-space: nowrap;
}
.list-title, .text-ellipsis, .top-content p.top {
    text-overflow: ellipsis;
    overflow: hidden;
}
.top-content p {
    padding: 10px;
    background-color: rgba(255,255,255,.5);
    color: #333;
}
.text-center {
    text-align: center;
}

#menu-footer-menu li+li:before{
  content:'|';
  color:#444;
  padding-right:10px
}
#menu-footer-menu li a{
  color: #777;
  font-size: 13px;
}
#menu-footer-menu li a:hover{
  color: #fff;
  font-size: 13px;
}

.server-video {
    float: left;
    background: #fff; 
    height: auto;
    width: 100%;
    padding-top: 10px; 
    padding-top: 20px;
    padding-bottom: 20px;
}
.server-line{
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
}
.server-line button{
  width: 90px;
  text-align: left;
}
.server-line button:hover{
  background: #79C142;
  color: #fff;
}
.server-downlad:hover{
  text-decoration: none;
  color: #79C142;
}
.server-downlad:focus{
  text-decoration: none;
  color: #79C142;
}
.server-downlad{
  color: #000;
}
.server-active{
  background: #79C142;
  color: #fff; 
}

.guard-top{
  background: #232323;
  border-bottom: 1px solid #383737
}
.guard-top a.navbar-brand{
  color: #fff;
}


.heading {
    background: #202020;
    padding: 8px;
    color: #3E424D;
    display: block;
}
.heading-now {
    background: #202020;
    padding: 10px;
    font-size: 15px;
    color: #fff; 
    text-transform: uppercase;
    display: block;
    text-align: left;
    width: 105%
}
.yellow{
  color: orange
}

.caption-play {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
}


.caption-play.rail__item-play {
    width: 46px;
    height: 46px; 
    border-radius: 100%;
    cursor: pointer; 
}
.theme__background-color-rgba-80 {
    background-color: rgba(0,0,0,.6);
}
.rail__item-play span {
    width: 0;
    height: 0;
    display: block;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15.2px solid white;
    margin: -18% 0 0 -9%;
    top: 50%;
    left: 50%;
    position: absolute; 
}
.box-title-thumb a h5{
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-thumb-images a:hover img,  a:focus img {
    opacity: 0.6;
    filter: alpha(opacity=60);
}
footer.bg-footer{
  background-color: #202020;
  width: 100%;
  height: auto;
}
.banner-footer{
  margin-bottom: 20px; 
}
.now-playing-margin{   
  padding: 10px;
  margin-top: 5px;
  width: 105%;
  background:  #202020;
}
.now-playing-margin a{ 
  color: #fff;
}
.now-playing-margin:hover{ 
  background: #2b2a2a;
}
.now-playing-margin a .now-year{
  color: #8c8c8c;
  font-size:12px;
}


.tabs-lp-guard .nav-tabs{
   border-bottom:transparent;
}

.tabs-lp-guard  .nav-tabs>li {
  margin: 5px 5px 0px 0px;
}
.tabs-lp-guard  .nav-tabs>li a {
  background: #2d2c2c;
  border: 0;
  border-bottom-color: transparent;
  border-radius: 0;
  color: rgb(133, 142, 165);
  text-transform: uppercase;

}

.tabs-lp-guard .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #555;
    border: 0px solid #555;
    border-radius: 0;
}
.tabs-lp-guard  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #555;
    border: 1px solid #555; 
    border-radius: 0;
    text-transform: uppercase;
}
.tabs-lp-guard .tab-content .tab-pane{
  background: #555;
}
.tab-guard-margin{
  margin-top: 20px;
}

.tab-margin{
  padding-top: 40px;
  padding-bottom: 20px;
}
.pagination-guard{
  padding-bottom: 10px;
}
.pagination-guard span.current{
  color: #757272;
}
.pagination-guard a{
  color: #ddd;
}